# Dependencies
node_modules/
.npm

# Environment
.env
.env.local
.env.production
backend/.env

# Build outputs
dist/
build/
frontend/dist/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/tfplan
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars   # contains sensitive values

# AWS
*.pem
.aws/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# K8s secrets (never commit real secrets)
k8s/base/secret.yaml

# IDE
.vscode/
.idea/
